<div id="toast-container" class="toast-stack" aria-live="polite" aria-atomic="true"></div>
<script src="/assets/js/shared/http.js" defer></script>
<script src="/assets/js/shared/toast.js" defer></script>
<script src="/assets/js/shared/cart.js" defer></script>
<script src="/assets/js/search/search.js" defer></script>
<% (page.externalScripts || []).forEach((src) => { %>
<script src="<%= src %>" defer></script>
<% }); %>
<% (page.scripts || []).forEach((src) => { %>
<script src="<%= src %>" defer></script>
<% }); %>
