<header>
  <div class="header-container">
    <a href="/" class="logo">Zest Marketplace</a>
    <nav class="nav">
      <a href="/"><i class="fas fa-home"></i> Home</a>
      <a href="/marketplace"><i class="fas fa-shopping-bag"></i> Marketplace</a>
      <a href="/buyer/feed"><i class="fas fa-rss"></i> Feed</a>
      <a href="/buyer/purchases"><i class="fas fa-bag-shopping"></i> Orders</a>
      <a href="/buyer/settings"><i class="fas fa-sliders"></i> Settings</a>
      <a href="/feed"><i class="fas fa-globe"></i> Global Feed</a>
      <a href="/buyer/profile#buyerFollowingSection"><i class="fas fa-heart"></i> Following</a>
      <a href="/buyer/profile"><i class="fas fa-user"></i> Profile</a>
    </nav>
  </div>
</header>
